@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700;900&display=swap");
* {
  box-sizing: border-box; }

.body {
  font-family: 'Roboto Slab', 'sans serif';
  color: #232222; }
  .body a,
  .body a:hover {
    text-decoration: none;
    color: #fff; }
  .body ul {
    margin: 0;
    padding: 0;
    list-style: none;
    transition: all 0.3s ease-out; }
  .body .container {
    max-width: 1200px; }
  .body .btn_main {
    display: inline-block;
    background: #FFFFFF;
    border-radius: 5px;
    color: #232222;
    padding: 13px 0;
    min-width: 230px;
    font-size: 18px;
    text-align: center;
    transition: .3s; }
    .body .btn_main:hover {
      background: #09476A; }
  @media (min-width: 576px) and (max-width: 1199px) {
    .body .container {
      padding: 0 30px; } }
  @media (max-width: 1199px) {
    .body.menu_active {
      overflow: hidden; } }
  @media (min-width: 992px) {
    .body .section_title {
      font-size: 40px;
      text-align: center;
      margin-bottom: 75px; } }
  @media (max-width: 991px) {
    .body .section_title {
      font-size: 28px;
      text-align: center;
      margin-bottom: 50px; } }
  @media (max-width: 576px) {
    .body {
      font-size: 20px; } }
  @media (max-width: 575px) {
    .body {
      font-size: 16px; }
      .body .container {
        padding: 0 20px; } }

section {
  padding-top: 100px;
  padding-bottom: 100px;
  overflow: hidden; }
  @media (min-width: 576px) and (max-width: 991px) {
    section {
      padding-top: 75px;
      padding-bottom: 75px; } }
  @media (max-width: 575px) {
    section {
      padding-top: 50px;
      padding-bottom: 50px; } }

header {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; }

.header {
  margin-top: 50px; }
  .header .logo {
    font-weight: bold;
    font-size: 20px;
    color: #fff; }
  .header .menu {
    display: flex; }
  .header .menu_item a {
    font-size: 18px;
    padding: 15px 0;
    transition: .3s; }
    .header .menu_item a:hover {
      color: #09476A; }
  @media (min-width: 992px) {
    .header .menu {
      justify-content: flex-end; }
    .header li + li {
      margin-left: 30px; } }
  @media (min-width: 576px) and (max-width: 991px) {
    .header .menu_item a {
      font-size: 28px; } }
  @media (max-width: 991px) {
    .header li + li {
      margin-top: 30px; }
    .header .menu {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      visibility: hidden;
      background-color: rgba(0, 0, 0, 0.6);
      backdrop-filter: blur(10px);
      opacity: 0;
      transition: .3s; }
    .header .menu_toggle {
      position: relative;
      z-index: 100;
      height: 20px;
      width: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .header .menu_toggle .toggle_item {
        width: 50%;
        height: 2px;
        background-color: #fff;
        transition: .5s; }
      .header .menu_toggle .item_top,
      .header .menu_toggle .item_bot {
        display: flex; }
      .header .menu_toggle::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -15px;
        margin-left: -15px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0);
        transition: .3s; }
      .header .menu_toggle:active::before {
        transform: scale(1.5);
        background: rgba(255, 255, 255, 0.3); }
    .header.menu_active .menu {
      visibility: visible;
      opacity: 1; }
    .header.menu_active .menu_toggle .toggle_item {
      border-radius: 2px; }
    .header.menu_active .menu_toggle .item_top .item_l {
      position: relative;
      top: 4px;
      left: 2.5px;
      transform: rotate(45deg); }
    .header.menu_active .menu_toggle .item_top .item_r {
      position: relative;
      top: 4px;
      right: 2.5px;
      transform: rotate(-45deg); }
    .header.menu_active .menu_toggle .item_mid {
      opacity: 0; }
    .header.menu_active .menu_toggle .item_bot .item_r {
      position: relative;
      bottom: 4px;
      right: 2.5px;
      transform: rotate(45deg); }
    .header.menu_active .menu_toggle .item_bot .item_l {
      position: relative;
      bottom: 4px;
      left: 2.5px;
      transform: rotate(-45deg); } }
  @media (max-width: 575px) {
    .header .menu_item a {
      font-size: 22px; } }

.section_intro {
  background: linear-gradient(103.43deg, #04B181 0.87%, #0673B1 100%);
  position: relative;
  overflow: hidden; }
  .section_intro .bg_layer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 75%; }
  .section_intro .intro_text {
    color: #fff; }
    .section_intro .intro_text .intro_title {
      font-weight: bold; }
      .section_intro .intro_text .intro_title span {
        font-weight: 900;
        color: #09476A; }

@keyframes circle {
  50% {
    transform: translateX(15px); }
  100% {
    transform: translateX(0px); } }
  .section_intro .image_wrap .intro_back {
    position: absolute;
    left: -58px;
    bottom: 0; }
  .section_intro .image_wrap .intro_front {
    position: absolute;
    bottom: 0;
    left: 82px; }
  @media (min-width: 1200px) {
    .section_intro {
      min-height: 100vh;
      padding: 0; } }
  @media (min-width: 992px) {
    .section_intro .intro_title {
      font-size: 60px; }
    .section_intro .intro_subtitle {
      font-size: 30px; } }
  @media (min-width: 992px) {
    .section_intro .intro_back {
      height: 290px; }
    .section_intro .intro_front {
      height: 130px; } }
  @media (min-width: 576px) and (max-width: 1199px) {
    .section_intro .image_wrap {
      position: absolute;
      right: 43%; } }
  @media (min-width: 576px) and (max-width: 991px) {
    .section_intro {
      padding-top: 110px; }
      .section_intro .intro_back {
        height: 230px; }
      .section_intro .intro_front {
        height: 94px; }
      .section_intro .intro_title {
        font-size: 50px; }
      .section_intro .intro_subtitle {
        font-size: 26px; } }
  @media (min-width: 576px) {
    .section_intro .intro_subtitle {
      margin-top: 35px;
      margin-bottom: 45px; }
    .section_intro .intro_back {
      animation: circle 6s infinite; } }
  @media (max-width: 575px) {
    .section_intro {
      min-height: 93vh; }
      .section_intro .intro_title {
        font-size: 40px; }
      .section_intro .intro_text {
        margin-top: 200px; }
      .section_intro .image_wrap {
        position: absolute;
        left: 50%;
        top: 195px;
        margin-left: -5px; }
        .section_intro .image_wrap .intro_back {
          width: 250px;
          left: 50%;
          margin-left: -125px; }
        .section_intro .image_wrap .intro_front {
          width: 68px;
          left: 0; }
      .section_intro .intro_subtitle {
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 20px; } }

.section_promo .text_box {
  margin-top: 75px;
  font-weight: 300; }

@media (min-width: 576px) {
  .section_promo .text_box {
    font-size: 18px; } }

@media (max-width: 575px) {
  .section_promo {
    padding-bottom: 25px; }
    .section_promo .text_box {
      font-size: 16px; } }

.section_algorithm .algorithm_item {
  height: 130px;
  margin: 15px 0;
  padding: 0 30px;
  border-radius: 5px;
  filter: drop-shadow(5px 5px 10px rgba(158, 213, 221, 0.3));
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden; }
  .section_algorithm .algorithm_item.light_layer {
    background-color: #E2FCF6; }
    .section_algorithm .algorithm_item.light_layer .item_bg {
      top: 15px; }
  .section_algorithm .algorithm_item.dark_layer {
    background-color: #C7ECEA; }
    .section_algorithm .algorithm_item.dark_layer .item_bg {
      bottom: 0; }
  .section_algorithm .algorithm_item .item_bg {
    position: absolute;
    left: 0;
    animation: wave infinite; }

@keyframes wave {
  50% {
    transform: translateX(-50px) scale(1.7); }
  100% {
    transform: translateX(0) scale(1); } }
    .section_algorithm .algorithm_item .item_bg__01 {
      animation-duration: 14s; }
    .section_algorithm .algorithm_item .item_bg__02 {
      animation-duration: 9.3s; }
    .section_algorithm .algorithm_item .item_bg__03 {
      animation-duration: 13.2s; }
    .section_algorithm .algorithm_item .item_bg__04 {
      animation-duration: 11.6s; }
    .section_algorithm .algorithm_item .item_bg__05 {
      animation-duration: 10.1s; }
    .section_algorithm .algorithm_item .item_bg__06 {
      animation-duration: 15s; }
    .section_algorithm .algorithm_item .item_bg__07 {
      animation-duration: 10.4s; }
    .section_algorithm .algorithm_item .item_bg__08 {
      animation-duration: 9.3s; }
    .section_algorithm .algorithm_item .item_bg__09 {
      animation-duration: 11.2s; }
    .section_algorithm .algorithm_item .item_bg__10 {
      animation-duration: 13.1s; }
    .section_algorithm .algorithm_item .item_bg__11 {
      animation-duration: 12s; }
  .section_algorithm .algorithm_item .item_num {
    position: absolute;
    top: 10px;
    right: 10px;
    color: rgba(255, 196, 0, 0.5); }
  .section_algorithm .algorithm_item .item_text {
    position: relative;
    font-size: 20px;
    font-weight: 300;
    z-index: 1; }

@media (max-width: 991px) {
  .section_algorithm .slick-slide {
    outline: none;
    width: 300px; }
  .section_algorithm .algorithm_item {
    height: 290px; } }

.section_specialization .specialization_text {
  text-align: center;
  font-weight: 300;
  line-height: 1.6;
  margin: 75px 0; }

.section_specialization .specialization_item {
  box-shadow: 10px 10px 25px rgba(9, 71, 106, 0.25);
  border-radius: 10px;
  height: 378px;
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden; }

@keyframes cloud {
  50% {
    transform: translateX(-150px); }
  100% {
    transform: translateX(0); } }

@keyframes cloud-inverse {
  50% {
    transform: translateX(150px); }
  100% {
    transform: translateX(0); } }
  .section_specialization .specialization_item__01 .cloud_image {
    position: absolute;
    left: 176px;
    top: 70px;
    animation: cloud 64s infinite; }
  .section_specialization .specialization_item__02 {
    background: #050C42; }
    .section_specialization .specialization_item__02 .specialization_title {
      color: #fff; }
    .section_specialization .specialization_item__02 .cloud_image {
      position: absolute;
      left: 40px;
      top: 60px;
      animation: cloud-inverse 80s infinite; }
  .section_specialization .specialization_item__03 {
    background: #7175D8; }
    .section_specialization .specialization_item__03 .specialization_title {
      color: #fff; }
    .section_specialization .specialization_item__03 .cloud_image {
      position: absolute;
      left: 237px;
      top: 60px;
      animation-duration: 50s;
      animation: cloud 60s infinite; }
  .section_specialization .specialization_item__04 {
    background: #F7FDFB; }
    .section_specialization .specialization_item__04 .cloud_image {
      position: absolute;
      left: 100px;
      top: 45px;
      animation: cloud-inverse 90s infinite; }
  .section_specialization .specialization_item__05 {
    background: #EBF5F3; }
    .section_specialization .specialization_item__05 .cloud_image {
      position: absolute;
      left: 210px;
      top: 30px;
      animation-duration: 65s;
      animation: cloud 60s infinite; }
  .section_specialization .specialization_item__06 {
    background: #FBFAFD; }
    .section_specialization .specialization_item__06 .cloud_image {
      position: absolute;
      left: 80px;
      top: 30px;
      animation: cloud-inverse 61s infinite; }
  .section_specialization .specialization_item .mount_image {
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%; }
  .section_specialization .specialization_item .specialization_title {
    position: relative;
    z-index: 1;
    font-weight: 500; }

@media (min-width: 1200px) {
  .section_specialization .specialization_title {
    font-size: 36px; } }

@media (max-width: 1199px) {
  .section_specialization .specialization_item {
    height: 300px; }
  .section_specialization .specialization_title {
    font-size: 30px; } }

.section_search_method {
  background: linear-gradient(103.5deg, #1DBA8E 1.26%, #1C80B9 100%);
  position: relative; }
  .section_search_method .search_method_bg_image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }
  .section_search_method .search_method_image {
    position: absolute;
    right: 0px;
    top: 163px; }
  .section_search_method .section_title {
    color: #fff; }
  .section_search_method .search_method_list .list_title {
    color: #fff;
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 40px; }
  .section_search_method .search_method_list li {
    color: #fff;
    font-weight: 500;
    margin-bottom: 30px; }
    .section_search_method .search_method_list li span {
      font-weight: 500;
      font-size: 18px;
      color: #FFC400;
      margin-right: 10px; }
  @media (min-width: 576px) and (max-width: 1199px) {
    .section_search_method .search_method_image {
      top: 250px;
      right: 50%;
      margin-right: -280px; }
    .section_search_method .search_method_list {
      margin-top: 340px; }
    .section_search_method .search_method_bg_image {
      height: 55%; } }
  @media (min-width: 576px) and (max-width: 991px) {
    .section_search_method .search_method_list {
      margin-top: 450px; } }
  @media (max-width: 575px) {
    .section_search_method .search_method_list {
      position: relative;
      z-index: 1; }
      .section_search_method .search_method_list__2 {
        margin-top: 320px; }
      .section_search_method .search_method_list .list_title {
        font-size: 25px;
        text-align: center; }
    .section_search_method .search_method_image {
      right: 50%;
      margin-right: -150px;
      width: 300px;
      top: 570px; } }

.section_advanteges .advantages_item .advantages_icon {
  text-align: center; }

.section_advanteges .advantages_item .advantages_title {
  text-align: center;
  margin: 10px 0; }

.section_advanteges .advantages_item .advantages_description {
  font-weight: 500;
  font-size: 20px;
  text-align: center; }

@media (min-width: 992px) {
  .section_advanteges .advantages_title {
    font-size: 65px; } }

@media (max-width: 991px) {
  .section_advanteges .advantages_item {
    margin-top: 50px; }
  .section_advanteges .advantages_title {
    font-size: 45px; } }

.section_feedback {
  background: linear-gradient(103.5deg, #1DBA8E 1.26%, #1C80B9 100%);
  position: relative;
  padding-bottom: 0; }
  .section_feedback .section_title {
    font-size: 27px;
    color: #fff; }
  .section_feedback .feedback_bg_layer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%; }
  .section_feedback .form_wrap {
    position: relative; }
    .section_feedback .form_wrap form {
      transition: 1s; }
      .section_feedback .form_wrap form input,
      .section_feedback .form_wrap form textarea,
      .section_feedback .form_wrap form button {
        display: block;
        background: none;
        border: none;
        outline: none;
        color: #fff;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 5px;
        padding: 12px 20px;
        margin-bottom: 20px; }
        .section_feedback .form_wrap form input::placeholder,
        .section_feedback .form_wrap form textarea::placeholder,
        .section_feedback .form_wrap form button::placeholder {
          color: rgba(255, 255, 255, 0.459);
          font-size: 18px; }
      .section_feedback .form_wrap form textarea {
        resize: none; }
      .section_feedback .form_wrap form button {
        border: 1px solid rgba(255, 255, 255, 0);
        margin-top: 30px;
        background: #1C8BB1;
        min-width: 230px;
        font-size: 18px;
        transition: .3s; }
        .section_feedback .form_wrap form button:hover {
          background: none;
          border: 1px solid rgba(255, 255, 255, 0.3); }
      .section_feedback .form_wrap form .input {
        width: 100%;
        min-width: 226px; }
    .section_feedback .form_wrap .response {
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -50%;
      margin-top: -30%;
      width: 100%;
      height: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: #fff;
      font-size: 30px;
      transform: rotateX(-90deg);
      opacity: 0;
      visibility: hidden;
      background-color: rgba(0, 0, 0, 0.1); }
    .section_feedback .form_wrap.form_send form {
      transform: rotateX(90deg);
      opacity: 0;
      visibility: hidden; }
    .section_feedback .form_wrap.form_send .response {
      transition-duration: 1s;
      transition-delay: 1s;
      transform: rotateX(0deg);
      opacity: 1;
      visibility: visible; }
  .section_feedback .contacts_text {
    color: #fff;
    font-size: 18px;
    font-weight: 300; }
    .section_feedback .contacts_text .contacts_title {
      font-weight: 400;
      font-size: 24px;
      margin-bottom: 20px; }
    .section_feedback .contacts_text li + li {
      margin-top: 15px; }
  .section_feedback footer {
    background: rgba(255, 255, 255, 0.15);
    color: #fff;
    padding: 40px 0; }
  @media (min-width: 992px) {
    .section_feedback .contacts_text {
      margin-top: 50px; } }
  @media (max-width: 991px) {
    .section_feedback .contacts_text {
      margin-top: 70px; } }
  @media (min-width: 576px) {
    .section_feedback footer {
      margin-top: 100px; } }
  @media (max-width: 575px) {
    .section_feedback footer {
      margin-top: 50px; }
    .section_feedback .feedback_bg_layer {
      height: 77%; }
    .section_feedback .form_wrap .response {
      margin-top: -50%; } }
